#section1{
    background-image: url("https://media.istockphoto.com/id/1300107681/es/foto/superficie-del-oc%C3%A9ano-atl%C3%A1ntico.jpg?s=2048x2048&w=is&k=20&c=PHnnQBU7GaCwFsPArBd7QGHBwjqlpMQCk1NIy3y2x1o=");
    height: 25vh;
}

.fotos{
    width: 100%;
    height: 100%;
}